
.grid{
	border: .125rem solid;
	display: inline-block ;
	background: #eee;
	}
a:link{
	font-size :20px ;
	text-decoration: none ;
	} 
a:visited{ 
	 color: grey
}
a:hover{

	color: #FF0000
}

#top1{
	font-size: 3em;
	font-family: "courier";
	text-align: center ;

	padding:.01em ;
	background: #eee;
	
	border: .1em solid ;
	margin bottom: .5em;

}


#top{ 
font-size: 30px;
text-align: center ;
font-family: "courier";
color: black ;

}

html{
 background-image: url('http://upload.wikimedia.org/wikipedia/en/7/75/DowntownSF.jpg');
}

#reflect{
	text-align:center ;
}
