html{
 background-image: url('http://nickperez1285.github.io/website-files/bridge.jpg');
 width:100%;
}

#top:{
	text-align: center;
	display: block ;
}
body{
	
	border: .125rem solid;
	margin:100px;
	display: inline-block ;
	background: navajowhite;
	padding-right: 20px;
	padding-left:20px;
	font-family: courier;
	font-size: small;
}

#me{
	text-align:center ;
}