
#title{
	font-size: 2em;
	font-family: "courier";
	text-align: center;
	border: solid; 

	margin:20px ;
	background: #eee;
	

}

ul{
	list-style:none ;
	margin:20px;
	border: .125rem solid;
	display: inline-block ;
	background: navajowhite;
	padding-right: 20px;
	padding-left:20px;
	font-family: courier;
	font-size: large;
}

