
.grid{
	border: .125rem solid;
	display: inline-block ;


	background-color: rgba(255, 255, 255, 0.86);

	font-size: larger;
	width: 7em;
	text-align: center;
	margin-left:50px; 
	position:relative;

}
a:link{
	font-size :20px ;
	text-decoration: none ;
	} 
a:visited{ 
	 color: grey
}
a:hover{

	color: gold

}

#top1{
	font-size: 40px;
	font-family: "courier";
	text-align: center ;
	margin-right: 20px;
	background: #eee;
	
	border: .1em solid ;
	margin bottom: .5em;
font-weight: bold ;
font-style: italic;
margin-left: 20px;

}


#top{ 
font-size: 35px;
text-align: center ;
font-family: "courier";
color: rgba(0, 0, 0, 0.59);

width: 850px;
}


#updates{
	border-style: solid ;
	display: block;
position: absolute ; 
margin-left: 450px; 
min-height: 150px;
width: 500px; 
font-size:30px; 
background-color: rgba(255, 255, 255, 0.86);
padding-left: 100px ;
font-family: "courier";
}


html{
 background-image: url('http://nickperez1285.github.io/website-files/museum.jpg');
 background-size:100%;

}

footer{ 
	text-align:right;
	margin-right: 180px ;
	margin-top:120px;
	background-color: none;
	font-size: .5em;
}


