
nav{
	border: .125rem solid;
	display: inline-block ;

	background-color: rgba(255, 255, 255, 0.86);

	font-size: large;
	text-align: center;
	margin-left:50px; 
    padding:20px;

}
a:link{
	font-size :35px ;
	text-decoration: none ;
	} 
a:visited{ 
	 color: grey
}
a:hover{

	color: gold

}

#head{
	font-size: 3em;
	font-family: "courier";
	text-align: center ;
	margin-right: 20px;
	background: #eee;
	
	border:  solid ;
font-weight: bold ;
margin-left: 20px;

}


#top{ 
font-size: 35px;
text-align: center ;
font-family: "courier";
color: rgba(0, 0, 0, 0.71);

width: 675px;
}
nav{
	margin-right: 5em
}

#updates{
	border-style: solid ;
	display: inline-block;
position: absolute ; 
margin-left: 4em;
margin-right: 4em;
min-height: 150px;
width: 500px; 
font-size:30px; 
background-color: rgba(255, 255, 255, 0.86);
padding: 20px ;
font-family: "courier";
}
h4{
	text-align:center;
}

#head{
	margin-bottom: 4em
}


html{
 background-image: url('http://nickperez1285.github.io/website-files/tokyo.jpg');
 background-size:100%;

}

footer{ 
	margin-left: 100px ;
	margin-top:70px;
}


