#me{
	display:inline;
	}

#title{
	display: initial; 

	}

}

body{
	font-family: courier
}

ul li{
	border: .2rem solid;
	display: inline ;
	text-align: center; 
	background-color: rgba(255, 255, 255, 0.86);
	list-style: none;
    padding:20px;
    border-radius: 25px;

}
li{
	float: left;
}
a:link{
	font-size :35px ;
	text-decoration: none ;
	} 
a:visited{ 
	 color: grey
}
a:hover{

	color: gold

}


#head{
	display:block ;
	font-size: 3em;
	font-family: "courier";
	text-align: center ;
	margin-right: 20px;
	background: #eee;
	border-radius: 25px; 
	border:  solid ;
font-weight: bold ;

}





#updates{
	
	border-style: solid ;
	display:inline-block;
margin-left: 8em;
margin-top: 2em ;
margin-right: 8em;
min-height: 150px;
font-size:20px; 
background-color: rgba(255, 255, 255, 0.86);
padding: 20px ;
font-family: "courier";
overflow: scroll;
height: 15em;
border-radius: 25px; 

}


html{
 background-image: url('http://nickperez1285.github.io/website-files/tokyo.jpg');
 background-size:100%;


}

footer{
	font-size: 2em ;
	margin-left: 2em ;
	color: white;
	margin-top: 10em ;
}

