
h4{

	font-family: "courier";
	text-align: center;
	border: solid; 
	font-size:2em;
	margin:20px;

}

body{
	
	text-align: center;
	font-size: large;
}


ul{ 
list-style: none;
font-size: 1em;
}

a:link{
	font-size :20px ;
	text-decoration: none ;
	} 
a:visited{ 
	 color: grey
}
a:hover{

	color: gold

}