
body{ 
	background: #eee;
}

.blogs{

	display: inline-block ;
	text-decoration:none ;
	
}
#top{
	text-align:center;
	border:solid ;

}


a:link{
	font-size :20px ;
	text-decoration: none ;
	} 
a:visited{ 
	 color: grey
}
a:hover{

	color: gold

}